body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #123524;
    /*background-image: url('../Images/animals-platypus-platypus-with-hat-wallpaper.jpg');*/
}

h1, h2 {
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #cccccc;
}

.jumbotron {
    background-color: #cccccc;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.property {
    max-width: 65px;
}

.UnidentifiedMapClass {
    float: right;
}

.rightText {
    text-align: right;
}

.results {
    background-color: #eeeeee;
}

.resultCell {
    float: left; 
    vertical-align: baseline;
    padding-top: 10px;
}